VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_APP_URL=http://localhost:5173
VITE_ENABLE_GITHUB_OAUTH=false
VITE_ENABLE_DISCORD_OAUTH=false
VITE_ENABLE_SPOTIFY_OAUTH=false
VITE_ENABLE_GOOGLE_OAUTH=false

